In [1]:
import os
os.getcwd()

'/Users/mac'

In [2]:
#setting path 
cd '/Users/mac/Desktop/'

/Users/mac/Desktop

In [3]:
os.getcwd()

'/Users/mac/Desktop'

In [399]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(pd.read_csv (r'/Users/mac/Desktop/Data File.csv'))

In [405]:
df.rename(columns={'Job Code':'JOB_CODE','Employee ID':'Employee_ID','Reg/Temp':'Reg_Temp','FT/PT':'FT_PT','Tenure/Yrs':'Tenure_yrs','Std Hrs/Wk':'Std_Hrs_wk','Will they travel?':'Will_they_travel','Will_they_relocate?':'will_they_relocate'},inplace=True)

In [404]:
df

       Employee_ID       Region Reg_Temp  ...   Education    Language Gender
0             1001      Toronto  Regular  ...   Not Indic     English   Male
1             1007    Vancouver  Regular  ...    Master's     English   Male
2             1012       Global  Regular  ...  Two Yr Col     English   Male
3             1019       Ottawa  Regular  ...   3-Yr Coll     English   Male
4             1020       Ottawa  Regular  ...   Not Indic     English   Male
...            ...          ...      ...  ...         ...         ...    ...
10553       120573    Vancouver  Regular  ...  Bachelor's     English   Male
10554       120576      Toronto  Regular  ...    Master's     English   Male
10555       120578       Global  Regular  ...     HS Grad  Can French   Male
10556       120679  Quebec City  Regular  ...   Not Indic  Can French   Male
10557       120707     Montreal  Regular  ...   Not Indic  Can French   Male

[10558 rows x 16 columns]

In [413]:
df.rename(columns={'Will_they_relocate?':'will_they_relocat'},inplace=True)

In [412]:
df.groupby('Gender')['Age'].mean()

Gender
Femal     45.000000
Female    45.754391
Mal       49.500000
Male      43.880413
Name: Age, dtype: float64

In [124]:
df['Gender'].value_counts()

Male      7367
Female    3188
Mal          2
Femal        1
Name: Gender, dtype: int64

In [83]:
df.groupby("Gender")["Age"].count()

Gender
Femal        1
Female    3188
Mal          2
Male      7367
Name: Age, dtype: int64

# Number of temporary, full-time employees

In [ ]:
 a = df['FT_PT'].value_counts()

In [202]:
 a

Full Time    10002
Part Time      556
Name: FT_PT, dtype: int64

In [197]:
df.rename(columns={'Will they relocate?':'will_they_relocate'},inplace=True)

# Number of Directors working in Toronto and who are Baby Boomers

In [252]:
q3=df.loc[(df.Region=='Toronto')&(df.Generation=='Baby Boomer')&(df.JOB_CODE.str.contains('DIRECTOR', regex=True, na=True))]

In [253]:
q3

       Employee_ID   Region Reg_Temp  ...   Education    Language  Gender
253           2642  Toronto  Regular  ...   3-Yr Coll     English    Male
440           3756  Toronto  Regular  ...  Some Coll.     English  Female
490           4071  Toronto  Regular  ...   3-Yr Coll     English  Female
930           6989  Toronto  Regular  ...   3-Yr Coll     English    Male
1207         10334  Toronto  Regular  ...   Not Indic     English    Male
1301         10855  Toronto  Regular  ...  Bachelor's     English    Male
1537         30023  Toronto  Regular  ...   Not Indic     English    Male
1557         30097  Toronto  Regular  ...   Not Indic     English    Male
1952         32225  Toronto  Regular  ...   Not Indic     English    Male
1969         32313  Toronto  Regular  ...   Not Indic     English  Female
2407         39006  Toronto  Regular  ...   Not Indic     English    Male
2848         40698  Toronto  Regular  ...   Not Indic     English    Male
3299         55826  Toronto  Regular  ...   Some Univ     English  Female
4243         59288  Toronto  Regular  ...   Not Indic     English    Male
4445         61680  Toronto  Regular  ...    Master's  Can French    Male
4510         62218  Toronto  Regular  ...    Master's     English  Female
4726         63126  Toronto  Regular  ...  Bachelor's     English  Female
4768         63361  Toronto  Regular  ...   Not Indic     English    Male
5114         65103  Toronto  Regular  ...   Not Indic     English    Male
5137         65252  Toronto  Regular  ...   Not Indic     English  Female
5240         66305  Toronto  Regular  ...  Bachelor's     English    Male
5298         67737  Toronto  Regular  ...  Bachelor's     English    Male
5637         69690  Toronto  Regular  ...  Two Yr Col  Can French  Female
5875         70051  Toronto  Regular  ...  Bachelor's  Can French    Male
5914         70115  Toronto  Regular  ...  Some Coll.     English  Female
6012         70283  Toronto  Regular  ...  Bachelor's     English    Male
6113         70482  Toronto  Regular  ...   Doctorate     English    Male
7201         86371  Toronto  Regular  ...     HS Grad     English    Male
7601         91593  Toronto  Regular  ...  Bachelor's     English    Male
7658         92010  Toronto  Regular  ...    Master's     English    Male
7783         93398  Toronto  Regular  ...    Master's     English    Male
7837         93885  Toronto  Regular  ...  Bachelor's     English    Male
7892         94521  Toronto  Regular  ...  Bachelor's     English    Male
8244         97270  Toronto  Regular  ...  Bachelor's     English  Female
8682        106528  Toronto  Regular  ...  Bachelor's     English  Female
9186        110137  Toronto  Regular  ...    Master's  Can French    Male
9400        111618  Toronto  Regular  ...  Bachelor's     English    Male
10144       117322  Toronto  Regular  ...  Bachelor's     English    Male
10153       117430  Toronto  Regular  ...    Master's     English    Male
10401       119527  Toronto  Regular  ...   3-Yr Coll     English    Male
10554       120576  Toronto  Regular  ...    Master's     English    Male

[41 rows x 16 columns]

In [251]:
df['Will_they_travel'].replace({'0':'No','Y':'Yes'},inplace=True)

In [254]:
df

       Employee_ID       Region Reg_Temp  ...   Education    Language Gender
0             1001      Toronto  Regular  ...   Not Indic     English   Male
1             1007    Vancouver  Regular  ...    Master's     English   Male
2             1012       Global  Regular  ...  Two Yr Col     English   Male
3             1019       Ottawa  Regular  ...   3-Yr Coll     English   Male
4             1020       Ottawa  Regular  ...   Not Indic     English   Male
...            ...          ...      ...  ...         ...         ...    ...
10553       120573    Vancouver  Regular  ...  Bachelor's     English   Male
10554       120576      Toronto  Regular  ...    Master's     English   Male
10555       120578       Global  Regular  ...     HS Grad  Can French   Male
10556       120679  Quebec City  Regular  ...   Not Indic  Can French   Male
10557       120707     Montreal  Regular  ...   Not Indic  Can French   Male

[10558 rows x 16 columns]

In [258]:
df['Gender'].value_counts()

Male      7369
Female    3189
Name: Gender, dtype: int64

In [256]:
df['Gender'].replace({'Mal':'Male','Femal':'Female'},inplace=True)

In [263]:
df['JOB_CODE'].value_counts()

CONSULTANT                       4619
SENIOR CONSULTANT                2498
ANALYST                           442
DIRECTOR, CONSULTING              419
MANAGER (OUT. OR CONS. SVCS)      398
SENIOR ANALYST                    303
SENIOR TECHNICAL CONSULTANT       288
TECHNICAL TEAM LEADER             255
EXECUTIVE CONSULTANT              236
TECHNICAL SUPPORT CENTRE REP      211
DIRECTOR, CONSULTING SERVICES     152
ADMINISTRATIVE COORDINATOR        116
VP, CONSULTING SERVICES           105
ADMINISTRATIVE ASSISTANT           85
AUXILIARY SUPPORT                  75
OPERATOR                           69
ADMINISTRATIVE SPECIALIST          64
ADMINISTRATIVE SUPPORT             46
SENIOR EXECUTIVE CONSULTANT        44
BUSINESS DEVELOPMENT REP.          27
ADMINISTRATIVE MANAGER             25
VP, CONSULTING                     24
ADMINISTRATIVE DIRECTOR            20
RECEPTIONIST                       11
SENIOR OPERATOR                    11
SENIOR VICE-PRESIDENT              11
CONSULTANT                          2
ADMINISTRATIVE VICE-PRESIDENT       1
PRESIDENT                           1
Name: JOB_CODE, dtype: int64

In [264]:
df['will_they_relocate'].value_counts()

No     9914
Yes     575
         69
Name: will_they_relocate, dtype: int64

In [265]:
df['Salary'].value_counts()

60000.000     88
70000.000     81
75000.000     77
80000.000     75
65000.000     70
              ..
39819.780      1
51509.255      1
52446.452      1
187000.000     1
63565.900      1
Name: Salary, Length: 7566, dtype: int64

In [272]:
df['Language'].value_counts()

Can French    5808
English       4750
Name: Language, dtype: int64

# Number of temporary employees that know French

In [273]:
q2 = df.loc[(df['Language']=='Can French')&(df['FT_PT']=='Part Time')]

In [446]:
q2

       Employee_ID       Region   Reg_Temp  ...   Education    Language  Gender
33            1100       Global    Regular  ...  Some Coll.  Can French    Male
36            1114       Global    Regular  ...   Not Indic  Can French  Female
58            1190     Montreal    Regular  ...    Master's  Can French    Male
62            1200       Global    Regular  ...   Not Indic  Can French    Male
63            1201       Global    Regular  ...  Bachelor's  Can French    Male
...            ...          ...        ...  ...         ...         ...     ...
10158       117444     Montreal    Regular  ...         AEC  Can French  Female
10216       118334     Montreal    Regular  ...   3-Yr Coll  Can French  Female
10304       119042  Quebec City  Temporary  ...   Not Indic  Can French    Male
10315       119124     Montreal    Regular  ...    Tech Sch  Can French  Female
10389       119493     Montreal    Regular  ...    Tech Sch  Can French  Female

[437 rows x 16 columns]

# Number of temporary, full-time employees

In [275]:
q1 = df['FT_PT'].value_counts()

In [276]:
q1

Full Time    10002
Part Time      556
Name: FT_PT, dtype: int64

#  Number of Baby Boomers with Masters degrees who are willing to relocate

In [283]:

q4=df.loc[(df.will_they_relocate=='Yes')&(df.Generation=='Baby Boomer')&(df.Education=='Master\'s')]

In [284]:
q4

       Employee_ID     Region Reg_Temp  ... Education Language  Gender
874           6553     Ottawa  Regular  ...  Master's  English    Male
1257         10609  Vancouver  Regular  ...  Master's  English    Male
2878         40948     Ottawa  Regular  ...  Master's  English    Male
4351         60947  Vancouver  Regular  ...  Master's  English    Male
4510         62218    Toronto  Regular  ...  Master's  English  Female
4897         64053  Vancouver  Regular  ...  Master's  English    Male
5258         67446      India  Regular  ...  Master's  English  Female
5904         70096      India  Regular  ...  Master's  English  Female
6157         70599      India  Regular  ...  Master's  English    Male
6160         70607      India  Regular  ...  Master's  English    Male
6472         74001  Vancouver  Regular  ...  Master's  English    Male
6814         76288      India  Regular  ...  Master's  English    Male
7248         87106  Vancouver  Regular  ...  Master's  English    Male
7307         87766    Toronto  Regular  ...  Master's  English    Male
7425         89498    Halifax  Regular  ...  Master's  English    Male
7658         92010    Toronto  Regular  ...  Master's  English    Male
8056         95878    Toronto  Regular  ...  Master's  English  Female
8143         96612    Halifax  Regular  ...  Master's  English  Female
8393        104024    Toronto  Regular  ...  Master's  English    Male
8525        105415    Toronto  Regular  ...  Master's  English    Male
9574        112545    Halifax  Regular  ...  Master's  English  Female
9614        112857    Halifax  Regular  ...  Master's  English    Male
9811        114164    Halifax  Regular  ...  Master's  English    Male
10189       118108    Toronto  Regular  ...  Master's  English    Male
10554       120576    Toronto  Regular  ...  Master's  English    Male

[25 rows x 16 columns]

# Average salary of all Senior Consultants working in Toronto

In [294]:

q5= df.loc[(df.JOB_CODE=='SENIOR CONSULTANT')&(df.Region=='Toronto')]

In [295]:
q5

       Employee_ID   Region Reg_Temp  ...   Education Language  Gender
0             1001  Toronto  Regular  ...   Not Indic  English    Male
7             1025  Toronto  Regular  ...   Not Indic  English    Male
10            1032  Toronto  Regular  ...   Not Indic  English    Male
12            1043  Toronto  Regular  ...   Not Indic  English    Male
13            1047  Toronto  Regular  ...   Not Indic  English  Female
...            ...      ...      ...  ...         ...      ...     ...
10244       118562  Toronto  Regular  ...  Some Coll.  English    Male
10245       118563  Toronto  Regular  ...  Bachelor's  English  Female
10247       118566  Toronto  Regular  ...   3-Yr Coll  English    Male
10252       118584  Toronto  Regular  ...  Bachelor's  English  Female
10295       118992  Toronto  Regular  ...  Bachelor's  English    Male

[309 rows x 16 columns]

In [331]:
print('Average salary =',q5['Salary'].mean())

Average salary = 89900.28787055018

In [301]:
q5['Salary'].sum()/309

89900.28787055016

#  Average age of Male French speaking individuals who make between  $55000 and $75000 per year

In [314]:
q6= df.loc[(df.Language=='Can French')&(df.Gender=='Male')&(df.Salary > 55000)& (df.Salary <= 75000)]

In [421]:
q6

       Employee_ID    Region Reg_Temp  ...   Education    Language Gender
28            1086    Global  Regular  ...   Not Indic  Can French   Male
41            1141    Global  Regular  ...         AEC  Can French   Male
48            1163    Global  Regular  ...   Not Indic  Can French   Male
49            1165    Global  Regular  ...   Not Indic  Can French   Male
58            1190  Montreal  Regular  ...    Master's  Can French   Male
...            ...       ...      ...  ...         ...         ...    ...
10529       120351  Montreal  Regular  ...   3-Yr Coll  Can French   Male
10540       120488  Montreal  Regular  ...  Bachelor's  Can French   Male
10546       120520  Montreal  Regular  ...   3-Yr Coll  Can French   Male
10552       120572  Montreal  Regular  ...         AEC  Can French   Male
10557       120707  Montreal  Regular  ...   Not Indic  Can French   Male

[1003 rows x 16 columns]

In [333]:
print('Average Age=',q6['Age'].mean())

Average Age= 43.189431704885344

#  Number of Analysts with >10 Years of Tenure and who work at least 40 hours per week.  Compared by Region and Language

In [342]:

q7= df.loc[(df.Tenure_yrs>=10)&(df.Std_Hrs_wk>=40)&(df.JOB_CODE=='ANALYST')]

In [344]:
q7

      Employee_ID   Region Reg_Temp  ...   Education    Language  Gender
34           1103   Global  Regular  ...   Not Indic     English    Male
39           1131   Global  Regular  ...   Not Indic     English    Male
50           1167   Global  Regular  ...   Not Indic     English    Male
65           1203   Global  Regular  ...  Bachelor's  Can French  Female
77           1236   Global  Regular  ...   Not Indic     English    Male
...           ...      ...      ...  ...         ...         ...     ...
3284        55775   Global  Regular  ...   Some Univ     English    Male
5604        69638    India  Regular  ...  Some Coll.  Can French  Female
5811        69951  Toronto  Regular  ...     HS Grad  Can French  Female
5981        70235    India  Regular  ...   Not Indic  Can French    Male
6060        70364    India  Regular  ...     HS Grad     English  Female

[143 rows x 16 columns]

In [352]:
q7.groupby(['Language','Region']).mean()

                       Employee_ID        Salary  ...  Tenure_yrs        Age
Language   Region                                 ...
Can French Global     21956.250000  76349.057250  ...   15.250000  51.500000
           India      69936.500000  68367.363500  ...   13.000000  58.000000
           Montreal   32477.666667  71109.753333  ...   16.000000  47.166667
           Toronto    55279.000000  69798.175000  ...   11.500000  60.000000
English    Global     28104.233766  56348.750065  ...   15.246753  50.467532
           Halifax    11566.000000  34874.000000  ...   18.000000  40.000000
           India      70364.000000  54134.444000  ...   12.000000  54.000000
           Toronto    31574.260870  78033.662152  ...   14.239130  51.369565
           Vancouver  30119.500000  73972.066500  ...   14.500000  56.500000

[9 rows x 5 columns]

#  Number of Gen X employees with any Bachelors Degree, working exactly 40 hours per week

In [364]:
q8= df.loc[(df.Generation=='Gen X')&(df.Std_Hrs_wk==40)&(df.Education.str.contains('Bac', regex=True, na=True))]

In [365]:
q8

       Employee_ID     Region   Reg_Temp  ...   Education    Language  Gender
19            1061     Global    Regular  ...  Bachelor's     English    Male
21            1063   Montreal    Regular  ...  Bachelor's  Can French    Male
47            1158   Montreal    Regular  ...  Bachelor's  Can French  Female
53            1184     Ottawa    Regular  ...  Bachelor's     English    Male
70            1213     Global    Regular  ...  Bachelor's  Can French    Male
...            ...        ...        ...  ...         ...         ...     ...
10499       120119    Halifax  Temporary  ...  Bachelor's     English    Male
10504       120150   Montreal    Regular  ...  Bachelor's  Can French    Male
10523       120313      India    Regular  ...  Bachelor's     English    Male
10540       120488   Montreal    Regular  ...  Bachelor's  Can French    Male
10553       120573  Vancouver    Regular  ...  Bachelor's     English    Male

[1068 rows x 16 columns]

# Number of Vice Presidents working in Toronto, who can speak French, and are earning over 150000

In [386]:
q9= df.loc[(df.Language=='Can French')&(df.Region=='Toronto')&(df.Salary>=150000)&(df.JOB_CODE.str.contains('VP', regex=True, na=True))]

# Number of French Speaking, Gen X, Full-Time employees who are Consultants and live outside of Montreal

In [397]:
q10= df.loc[(df.Generation=='Gen X')&(df.Language=='Can French')&(df.FT_PT=='Full Time')&(df.JOB_CODE=='CONSULTANT')&(df.Region!='Montreal')]

In [398]:
q10

       Employee_ID       Region   Reg_Temp  ...   Education    Language  Gender
16            1057       Global    Regular  ...         AEC  Can French    Male
25            1072       Global    Regular  ...   Not Indic  Can French    Male
44            1154       Global    Regular  ...     HS Grad  Can French    Male
55            1186       Global    Regular  ...         AEC  Can French    Male
130           1572       Global    Regular  ...   Not Indic  Can French    Male
...            ...          ...        ...  ...         ...         ...     ...
10522       120310       Ottawa  Temporary  ...   Not Indic  Can French    Male
10524       120314  Quebec City    Regular  ...   Not Indic  Can French    Male
10527       120334       Global  Temporary  ...  Some Coll.  Can French    Male
10533       120390       Global  Temporary  ...         AEC  Can French    Male
10544       120511       Global    Regular  ...     HS Grad  Can French  Female

[782 rows x 16 columns]

In [435]:
df['Salary'].mean()

73189.914969786

In [440]:
df['Tenure_yrs'].median()

8.0

In [445]:
df['Age'].mode()

0    50
dtype: int64